<VirtualHost *:80>
ServerName %domain%
DocumentRoot "/var/www/public/%domain%"
<FilesMatch \.php$>
	SetHandler "proxy:unix:/var/run/php5-fpm-lepus.sock|fcgi://localhost/"
</FilesMatch>
ErrorLog /var/www/logs/apache_error_%domain%.log
CustomLog /var/www/logs/apache_access_%domain%.log vhost_combined
</VirtualHost>
